@charset "UTF-8";
/*-------------------------------------------------
title       : 콘텐츠 공통
History     : 2024-01-12
-------------------------------------------------*/
.icon_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-bottom: 1px dotted #555;
  color: #22449C;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.border_title {
  border-bottom: 1px solid #DDD;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.contents_info {
  margin-top: 5rem;
}

.point2 {
  color: #2F57BF;
}

.unit {
  display: block;
  text-align: right;
}

.table1 td {
  background: #fff;
}

.tr_border {
  border-top: 2px solid #AFAFAF;
}

.dot_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.dot_line > li ~ li {
  border-top: 1px dotted #DDD;
  padding-top: 3rem;
}

.box2.check::before {
  content: "\e928";
  color: #000;
}

.box3 .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box6 i {
  top: auto !important;
}

.full_img {
  margin: 6rem 0;
  position: relative;
}
.full_img .title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 2.8rem;
  letter-spacing: 1.008rem;
  text-transform: uppercase;
}

.pic_box {
  border-radius: 3rem;
  border: 1px solid #DDD;
  text-align: center;
  padding: 5rem;
}
.pic_box.system_diagram {
  -webkit-box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.05);
  padding: 3rem 1rem;
}

.linkWindow:hover {
  text-decoration: underline;
}

.essential {
  margin-bottom: 2rem;
}

.bul1 > li + li {
  margin-top: 1rem;
}

.bul2 > li + li {
  margin-top: 1.5rem;
}

.step2 > li {
  padding-top: 2.5rem;
}

.btn_basic {
  border-radius: 0.3rem;
  border: 1px solid #CCD1DC;
  background: #DADEE7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9rem 2rem;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
  white-space: nowrap;
}
.btn_basic:hover {
  background: #fff;
  border-color: #333;
}

.point11 {
  color: #E50000;
}

.form_select {
  background: #fff;
}
.form_select select {
  background: transparent;
  position: relative;
  z-index: 1;
}
.form_select::after {
  content: "\e936" !important;
  line-height: normal;
}

.form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.form_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.form_textarea {
  resize: vertical;
  padding: 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid #d9d9d9;
  width: 100%;
}
.form_textarea::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0;
}
.form_textarea::-webkit-scrollbar {
  width: 0.8rem;
}
.form_textarea::-webkit-scrollbar-thumb {
  background-color: #d5d7dc;
  border-radius: 0;
}

/*-------------------------------------------------
소개
-------------------------------------------------*/
/* 인사말 */
.greeting {
  width: 128rem;
  max-width: 100%;
  margin: 0 auto;
}
.greeting .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10rem 7rem;
}
.greeting .title::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -3;
  width: 160rem;
  background: url("/template/template01/img/contents/greeting_bg.png") no-repeat center bottom #F1F5FF;
  background-size: 100% auto;
}
.greeting .title::after {
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 160rem;
  height: 16rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #fff;
  content: "";
}
.greeting .title h2 {
  position: relative;
  padding: 2rem 5rem 0 0;
  font-size: 5.7rem;
  color: #000;
}
.greeting .title h2::before, .greeting .title h2::after {
  position: absolute;
  z-index: -2;
  border-radius: 100%;
  background: linear-gradient(140deg, #FFF 14.77%, #F1F5FF 86.55%);
  content: "";
}
.greeting .title h2::before {
  left: -10rem;
  top: 12rem;
  width: 6rem;
  height: 6rem;
}
.greeting .title h2::after {
  left: 51.5rem;
  top: -1rem;
  width: 4rem;
  height: 4rem;
}
.greeting .title span {
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 500;
}
.greeting .title strong {
  display: block;
  font-weight: 700;
  line-height: 1.2;
}
.greeting .title strong:nth-child(odd) {
  color: #3366FF;
}
.greeting .group {
  background: #fff;
  padding: 8rem 7rem;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 14.9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 14.9px 0px rgba(0, 0, 0, 0.1);
  margin-top: -20rem;
}
.greeting .group span {
  display: block;
  margin-bottom: 4rem;
  color: #4B4B4B;
  letter-spacing: -0.057rem;
}
.greeting .group img {
  margin-left: 2rem;
}
.greeting .group .label {
  width: 65rem;
  max-width: 100%;
  margin-bottom: 6rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #22449C;
  line-height: 130%;
  word-break: keep-all;
}
.greeting .group .sign {
  margin-top: 3rem;
  font-size: 2.2rem;
  color: #111;
  text-align: right;
}

/* 학부소개 */
.graduate .what, .how {
  position: relative;
  padding-top: 10rem;
}
.graduate .what::before, .how::before {
  content: "";
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff url("/template/common/img/intro_how.svg") 50% 50%/6.3rem 6rem no-repeat;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.graduate .what > p, .how > p {
  color: #555;
  margin-bottom: 5rem;
}

.contents_visual {
  text-align: center;
  padding: 10.6rem 0;
  position: relative;
}
.contents_visual .bg {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
.contents_visual .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contents_visual h2 {
  margin-bottom: 3rem;
}
.contents_visual h2 strong {
  font-size: 5.8rem;
  display: block;
  color: #fff;
}
.contents_visual h2 b {
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: 0.7rem;
  font-weight: 400;
}
.contents_visual > p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 170%;
}
.contents_visual > p strong {
  color: #fff;
}
.contents_visual .box3 {
  margin-top: 3rem;
  text-align: left;
}
.contents_visual .orange_light {
  top: 100%;
}

.gray_bg {
  padding: 10rem 0;
  position: relative;
}
.gray_bg::before {
  background-color: #F6F7F9;
}
.gray_bg::after {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  background: #F6F7F9;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -5;
}
.gray_bg .box3 {
  background: #fff;
}

.orange_light {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.orange_light + .title1 {
  margin-top: 0;
}

.what {
  margin-bottom: 10rem;
}

.how.type_bottom {
  margin-top: 10rem;
}

.future {
  border-radius: 2rem;
  background: #F6F7F9;
  position: relative;
  margin-top: 15rem;
}
.future .title1 {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 0;
  color: #22449C;
  border-radius: 11.2rem;
  border: 8px solid #F5F5F5;
  background: #FFF;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3.6rem 13%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.future .future_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  padding: 8rem;
}
.future .future_cont p {
  line-height: 170%;
}
.future img {
  border-radius: 39rem;
  border: 4px dashed #E0E3E9;
  padding: 2rem;
}
.future .no_deco img {
  border-radius: 1rem;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0.2rem 0.2rem 0.93rem rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 0.93rem rgba(0, 0, 0, 0.15);
}

.img_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.future_part_vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.future_part_vision .item {
  border-radius: 4rem;
  width: 22.5rem;
  height: 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.future_part_vision .item1 {
  background: #183072;
}
.future_part_vision .item2 {
  background: #FF7F00;
}
.future_part_vision .term_txt {
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
  text-align: center;
  background: url("/future/img/intro_img_01.png") 50% 100% repeat-x;
  padding: 0 5rem 10rem;
}

/* 연혁 */
.history_title {
  background: url("/template/common/img/history_bg.webp") 50% 50%/cover no-repeat;
  color: #fff;
  height: 26rem;
  padding: 8rem;
}
.history_title h2 {
  font-size: 5.1rem;
  margin-bottom: 1rem;
  line-height: normal;
}

.history_cont .years_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8rem;
}
.history_cont .years_wrap .years {
  padding-right: 7.5rem;
  font-size: 6rem;
  -ms-flex-preferred-size: 28rem;
      flex-basis: 28rem;
}
.history_cont .years_wrap .year_list {
  border-left: 1px solid #ddd;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
}
.history_cont .years_wrap .year_list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  padding-left: 4rem;
}
.history_cont .years_wrap .year_list .item > strong {
  color: #333;
  font-size: 4rem;
  padding-bottom: 2rem;
  display: block;
  border-bottom: 1px solid #DDD;
  position: relative;
}
.history_cont .years_wrap .year_list .item > strong::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #FF7F00;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.73rem #ff7f00;
          box-shadow: 0 0 0.73rem #ff7f00;
  position: absolute;
  left: -4rem;
  top: 2.3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.history_cont .years_wrap .year_list .item div em {
  color: #22449C;
  border-radius: 7rem;
  background: rgba(34, 68, 156, 0.1);
  display: inline-block;
  padding: 0.7rem 1.6rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}
.history_cont .years_wrap .year_list .item div .title {
  color: #555;
  font-size: 2.5rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

/* 찾아오시는 길 */
.kakao_map {
  position: relative;
  border-top: 2px solid #000;
}
.kakao_map .info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  background: #F6F7F9;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.09);
  padding: 4.5rem;
}
.kakao_map .info i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 2.4rem;
}
.kakao_map .info p {
  font-size: 2rem;
  font-weight: 600;
  color: #3e3e3e;
  text-align: center;
  white-space: nowrap;
}

.campus_map {
  position: relative;
  height: 85.4rem;
}
.campus_map img {
  border-radius: 2rem;
  border: 2px solid #e3e3e3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.campus_map .marker {
  position: absolute;
  background: #0D235D;
  color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}
.campus_map .marker::before {
  content: "";
  border: solid transparent;
  border-width: 1.2rem 0.7rem;
  border-top-color: #0D235D;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.campus_map .location_arrow_down::before {
  top: 100%;
}
.campus_map .location_arrow_up::before {
  bottom: 100%;
  border-color: transparent;
  border-bottom-color: #0D235D;
}

/*-------------------------------------------------
교육
-------------------------------------------------*/
/* 교육목표 */
.vision {
  margin-bottom: 6rem;
  padding: 5rem;
  border-radius: 30rem;
  border: 1.5rem solid #F4F4F4;
  background: url("/template/common/img/vision_bg.png") no-repeat center center;
  background-size: calc(100% + 3rem) calc(100% + 3rem) !important;
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}
.vision h2 {
  margin-bottom: 2rem;
  color: #F3A023;
}
.vision p {
  font-size: 2.9rem;
  font-weight: 600;
}
.vision.type1 {
  background-image: url("/template/common/img/vision_bg1.png");
}
.vision.goal_title h2 {
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 0.68rem;
}
.vision.goal_title p {
  font-size: 3.6rem;
}
.vision.icon_arrow {
  position: relative;
}
.vision.icon_arrow::before {
  content: "\ea4d";
  font-family: "remixicon";
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 3rem);
          transform: translate(-50%, 3rem);
  color: #000;
}

.mission {
  word-break: keep-all;
  text-align: center;
  margin: 8rem 0;
}
.mission h2 {
  font-size: 2.6rem;
  font-weight: 600;
}
.mission .group1 {
  width: 112rem;
  max-width: 100%;
  margin: 0 auto 6rem;
  position: relative;
  padding: 0 5rem;
  font-size: 4.1rem;
  color: #000;
  letter-spacing: -0.1rem;
  line-height: 140%;
}
.mission .group1::before, .mission .group1::after {
  position: absolute;
  top: 0;
  width: 4.5rem;
  height: 100%;
  border: 1rem solid #F3F3F3;
  content: "";
}
.mission .group1::before {
  left: 0;
  border-right: 0 none;
}
.mission .group1::after {
  right: 0;
  border-left: 0 none;
}
.mission .group1 h2 {
  display: block;
  width: 15.5rem;
  height: 6.5rem;
  margin: 0 auto 1.5rem;
  border-radius: 6.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAA21C), to(#F46B23));
  background: linear-gradient(180deg, #FAA21C 0%, #F46B23 100%);
  color: #fff;
  line-height: 6.5rem;
}
.mission .part {
  position: relative;
  padding: 0 10.5rem;
  letter-spacing: -0.05rem;
}
.mission .part::before {
  display: block;
  height: 29rem;
  margin: 0;
  background: url("/template/template01/img/contents/arr1.png") no-repeat center 0;
  background-size: auto 100%;
  content: "";
}
.mission .part h2 {
  border-radius: 8.7rem;
  background: #183072;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 6rem;
  color: #fff;
  margin-bottom: 2.8rem;
  font-weight: 700;
  position: relative;
}
.mission .part h2::after {
  content: "";
  display: block;
  width: 1px;
  height: 2.8rem;
  position: absolute;
  left: 50%;
  top: 100%;
  background: #8e8e8e;
}
.mission .group2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0 8rem;
  position: relative;
  /*  img{max-width:4rem;max-height:4rem;}   */
}
.mission .group2::before {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: #8E8E8E;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.mission .group2 li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin-top: 9rem;
}
.mission .group2 li:first-child h3::before {
  position: absolute;
  left: -9.7rem;
  top: -9.2rem;
  z-index: -3;
  width: calc(300% + 19.4rem);
  height: calc(100% + 18.4rem);
  border-radius: 31rem;
  border: 1px solid #8E8E8E;
  border-bottom: 0 none;
  content: "";
}
.mission .group2 li:first-child h3::after {
  position: absolute;
  left: -9.7rem;
  top: 50%;
  z-index: -2;
  width: 500%;
  height: 100%;
  background-color: #fff;
  content: "";
}
.mission .group2 li:nth-child(1) h3 {
  background-color: #FF7F00;
}
.mission .group2 li:nth-child(2) h3 {
  background-color: #183072;
}
.mission .group2 li:nth-child(3) h3 {
  background-color: #4C4C4C;
}
.mission .group2 li:first-child i::before, .mission .group2 li:last-child i::before {
  position: absolute;
  top: 50%;
  left: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mission .group2 li:first-child i::before {
  left: -10.5rem;
}
.mission .group2 li:nth-child(2) i::before {
  display: none;
}
.mission .group2 li:last-child i::before {
  right: -10.5rem;
}
.mission .group2 i {
  margin-bottom: 1.5rem;
}
.mission .group2 i::before {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: #8E8E8E;
  content: "";
}
.mission .group2 i::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 8rem);
  height: calc(100% + 8rem);
  border-radius: 100%;
  background-color: #F2F2F2;
  content: "";
}
.mission .group2 h3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  width: 30rem;
  height: 30rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.mission .group2 strong {
  display: block;
  margin: 8rem 1rem 2rem;
  font-size: 2.5rem;
  color: #22449C;
  line-height: 130%;
}
.mission .group2 p {
  margin: 0 1rem;
}
.mission .group3 {
  position: relative;
  margin: 0 auto;
  z-index: 0;
  margin-top: 10rem;
  padding: 0 9rem 9rem;
  border-radius: 3rem;
  background-color: #F6F7F9;
}
.mission .group3 h2 {
  width: 78rem;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  padding: 2.4rem;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  border: 0.8rem solid #F5F5F5;
  background-color: #fff;
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 140%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mission .group3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
  width: 81.5rem;
  margin: 0 auto;
}
.mission .group3 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4rem;
  background-color: #183072;
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 22.5rem;
  height: 22.5rem;
  padding: 2rem;
}
.mission .group3 li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.mission .group3 li:nth-child(2n) h3, .mission .group3 li:nth-child(2n) h3::before {
  background-color: #FF7F00;
}
.mission .group3 li:nth-child(2n) p {
  padding-top: 3.5rem;
}
.mission .group3 p {
  position: relative;
  height: 16rem;
  margin-top: 2.5rem;
  padding-top: 5rem;
  border-radius: 3rem;
  border: 1px solid #DCDCDC;
  background-color: #fff;
}
.mission .group3 p::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 100%;
  width: 1px;
  height: 2.5rem;
  background-color: #8E8E8E;
  content: "";
}
.mission .group3 span {
  display: block;
}
.mission .talent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}
.mission .talent .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.mission .talent .item h4 {
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2.6rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.6rem;
          flex: 0 0 18.6rem;
  padding: 2.5rem;
}
.mission .talent .type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.mission .talent .type li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mission .talent .type .title {
  display: block;
  background: #3261BD;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.mission .talent .type .bul1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2rem;
  margin-top: 0;
  border: 1px solid #D2D2D2;
}
.mission .talent .item1 h4 {
  background: #458CE0;
}
.mission .talent .item1 li {
  border-radius: 0.5rem;
  border: 4px solid #E2EFFF;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 2rem;
}
.mission .talent .item2 h4 {
  background: #3261BD;
}
.mission [class*=circle] h3 {
  width: 25rem;
  height: 25rem;
}
.mission [class*=circle] li:nth-child(odd) h3 {
  background: #183072;
}
.mission [class*=circle] li:nth-child(even) h3 {
  background: #FF7F00;
}
.mission .circle4 li:first-child h3::before,
.mission .circle4 li:first-child h3::after {
  width: calc(400% + 19.4rem);
}
.mission .circle5 li:first-child h3::before,
.mission .circle5 li:first-child h3::after {
  width: calc(500% + 19.4rem);
}

.group3_title {
  width: 78rem;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  padding: 2.4rem;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  border: 0.8rem solid #F5F5F5;
  background-color: #fff;
  color: #22449C;
  font-weight: 700;
  text-align: center;
  line-height: 140%;
  margin-bottom: 5rem;
}
.group3_title::after {
  content: "";
  display: block;
  width: 1px;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: calc(100% + 0.8rem);
  background: #8e8e8e;
}

.curriculum_bg {
  color: #fff;
  text-align: left;
}
.curriculum_bg .title1 {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.curriculum_bg .bg::before {
  content: "";
  display: block;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.curriculum_bg p {
  margin-bottom: 3rem;
}
.curriculum_bg .eng_desc {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.85);
  padding: 3rem;
  color: #555;
}

.worth {
  position: relative;
  z-index: 0;
  height: 31rem;
  margin: 6.5rem 0 12rem;
}

.worth::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: #EDEDED;
  content: "";
}

.worth h3 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 31rem;
  height: 31rem;
  text-align: center;
  line-height: 31rem;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 8rem;
  border-radius: 100%;
  border: 2.2rem solid #F4F4F4;
  background-color: #fff;
  font-size: 3.7rem;
  font-weight: 800;
  color: #171717;
  text-align: center;
  line-height: 120%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: keep-all;
}

.worth h3::before, .worth h3::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: -1;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  background-color: #D9D9D9;
  content: "";
}

.worth h3::before {
  left: -8.5rem;
}

.worth h3::after {
  right: -8.5rem;
}

.worth ul {
  overflow: hidden;
  height: 100%;
  padding: 4.5rem 1rem;
  font-size: 0;
  white-space: nowrap;
  text-align: right;
}

.worth strong {
  font-size: 2.6rem;
  font-weight: inherit;
  line-height: 1.5;
}

.worth span {
  font-size: 3.1rem;
}

.worth li {
  display: inline-block;
  overflow: hidden;
  width: 22rem;
  height: 22rem;
  text-align: center;
  line-height: 22rem;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 -1rem;
  padding: 7rem 0;
  border-radius: 100%;
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
  line-height: 140%;
  vertical-align: top;
}

.worth li:nth-child(1) {
  background-color: #F3A023;
}

.worth li:nth-child(2) {
  background-color: rgba(254, 114, 31, 0.8980392157);
}

.worth li:nth-child(3) {
  background-color: rgba(29, 50, 124, 0.8980392157);
}

.worth li:nth-child(4) {
  background-color: rgba(18, 34, 89, 0.8980392157);
}

.worth li:nth-last-child(n+3) {
  float: left;
}

/* 실습실 현황 */
.lab_tab {
  position: relative;
}
.lab_tab .tab_nav {
  background: #F6F7F9;
  padding: 5.5rem;
  margin-top: 2rem;
}
.lab_tab .tab_nav .title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #555;
  padding-bottom: 3rem;
}
.lab_tab .tab_nav .bul2 {
  display: grid;
  grid: auto/repeat(5, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lab_tab .tab_nav .bul2 li {
  border-radius: 5rem;
  background: #F8F8F8;
  border: 1px solid transparent;
  color: #555;
  font-weight: 600;
  font-size: 1.8rem;
  border-radius: 0.3rem;
  border: 1px solid #DFDFDF;
  background: #FFF;
  margin-top: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.lab_tab .tab_nav .bul2 li::before {
  top: 2.3rem;
  left: 2rem;
}
.lab_tab .tab_nav .bul2 li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7rem;
  padding: 2.5rem 2.5rem 2.5rem 5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
}
.lab_tab .tab_nav .bul2 li:hover {
  background: #f5f6f8;
  color: #111;
}
.lab_tab .tab_nav .bul2 .active::before {
  background: #22449C;
}
.lab_tab .tab_nav .bul2 .active button {
  border-color: #22449C;
  border-radius: 0.3rem;
  border: 2px solid #22449C;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
.lab_tab .tab_nav .bul2 li::before {
  background: #D0D0D0;
}
.lab_tab .tab_cont {
  display: none;
}
.lab_tab .tab_cont.active {
  display: block;
}
.lab_tab .tab_cont figure {
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #DDD;
  padding: 2.5rem;
}
.lab_tab .tab_cont figure .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.lab_tab .tab_cont figure img {
  width: 100%;
  height: 79.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
}
.lab_tab .tab_cont figure figcaption {
  font-size: 2.1rem;
  color: #3e3e3e;
  font-weight: 600;
  display: block;
  margin-top: 2.5rem;
}
.lab_tab .tab_cont figure figcaption i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #22449C;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  border-radius: 50%;
}
.lab_tab .tab_cont figure figcaption strong {
  color: #22449C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lab_tab .tab_cont figure figcaption span {
  display: block;
  margin-top: 1rem;
  text-align: left;
}
.lab_tab.small_img figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}
.lab_tab.small_img figure img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 62.1%;
          flex: 1 1 62.1%;
  height: 55rem;
}
.lab_tab.small_img figure figcaption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.9%;
          flex: 1 1 37.9%;
}

/* LAB소개 */
.labs_bg {
  padding-top: 20rem;
}

.box5 .group {
  padding-bottom: 0;
}
.box5 .group strong {
  font-size: 2.8rem;
  color: #22449C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #555;
}
.box5 .group i {
  width: 4rem;
  height: 4rem;
  position: static;
  display: block;
  z-index: 0;
}
.box5 .group img {
  position: static;
  -webkit-transform: none;
          transform: none;
  min-width: inherit;
  min-height: inherit;
  display: block;
}

.labs_professor > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
  margin-top: 1rem;
}
.labs_professor > li .bul1 {
  margin-top: 0;
}
.labs_professor > li .bul1 > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.labs_professor > li .title3 {
  margin-bottom: 0;
  padding-right: 1.3rem;
  position: relative;
}
.labs_professor > li .title3::after {
  content: "";
  display: block;
  width: 1px;
  height: 1.5rem;
  background: #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* 교육>공학인증 */
.abeek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.abeek .title {
  color: #fff;
  text-align: center;
  padding: 1.3rem 2rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.abeek .title.type1 {
  background: #458CE0;
}
.abeek .title.type2 {
  background: #3261BD;
}
.abeek .title.type3 {
  background: #1D4199;
}
.abeek .title.type4 {
  background: #153074;
}
.abeek .box_title {
  border-radius: 0.5rem;
  border: 4px solid #E4EBFC;
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 2.2rem;
  background: #fff;
}
.abeek .box {
  background: #F5F5F5;
  border: 1px solid #D2D2D2;
  padding: 2rem;
  border-radius: 0.5rem;
}
.abeek .box .bul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.abeek .list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  position: relative;
}
.abeek .list_row::before {
  content: "▲";
  position: absolute;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translate(-50%, -160%);
          transform: translate(-50%, -160%);
}
.abeek .list_row li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.abeek .list_row li ~ li {
  border-left: 1px solid #DDD;
}
.abeek .grid {
  display: grid;
  grid: auto/repeat(2, 1fr);
  gap: 1rem 2rem;
}
.abeek .grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.abeek .grid .box {
  min-height: 15rem;
  height: 100%;
}
.abeek.color .box_title {
  color: #fff;
  border: 0;
}
.abeek.color li:nth-child(1) .box_title {
  background: #458CE0;
}
.abeek.color li:nth-child(2) .box_title {
  background: #3261BD;
}
.abeek.color li:nth-child(3) .box_title {
  background: #1D4199;
}
.abeek.color li:nth-child(4) .box_title {
  background: #153074;
}
.abeek .item3 .box_title {
  border-radius: 9rem;
  padding: 2rem;
}

.edu_goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10rem;
  margin-bottom: 10rem;
}
.edu_goal ul {
  width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.edu_goal ul li {
  border-radius: 0.6rem;
  border: 4px solid #F4F4F4;
  padding: 1.3rem 2rem;
  font-size: 2rem;
  color: #333;
}

.by_grade > li::before,
.conference > li::before {
  display: none;
}
.by_grade i,
.conference i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9rem;
  height: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  border-radius: 100%;
  background-color: #F5F5F5;
  color: #3E3E3E;
}
.by_grade i b,
.conference i b {
  font-size: 3.6rem;
  font-weight: 700;
}
.by_grade i span,
.conference i span {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.by_grade .title2,
.conference .title2 {
  margin-top: 0;
}

.conference i {
  width: 12rem;
  height: 12rem;
}

/*-------------------------------------------------
학부광장
-------------------------------------------------*/
/* 조직도 */
.org_tree {
  margin-bottom: 3rem;
}
.org_tree .item strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7rem;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.org_tree .item strong::before {
  content: "";
  display: block;
  width: 1px;
  height: 5rem;
  background: #d3d3d3;
  position: absolute;
  left: 50%;
  bottom: 100%;
}
.org_tree .item strong::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #192A66;
  border: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.org_tree .item span {
  border-radius: 0.3rem;
  border: 1px solid #D8D8D8;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
}
.org_tree .head .item,
.org_tree .sub_head .item {
  width: 28rem;
  margin: 0 auto;
}
.org_tree .head .item strong,
.org_tree .sub_head .item strong {
  color: #fff;
  font-size: 2.3rem;
}
.org_tree .head {
  margin-bottom: 5rem;
}
.org_tree .head .item strong {
  background: #2850B7;
}
.org_tree .head .item strong::before, .org_tree .head .item strong::after {
  display: none;
}
.org_tree .sub_head {
  margin-bottom: 10rem;
}
.org_tree .sub_head .item strong {
  background: #192A66;
}
.org_tree .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  position: relative;
}
.org_tree .part::before {
  content: "";
  display: block;
  width: 84.8%;
  height: 1px;
  background: #d3d3d3;
  position: absolute;
  left: 50%;
  top: -4.9rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.org_tree .part::after {
  content: "";
  display: block;
  width: 1px;
  height: 5rem;
  background: #d3d3d3;
  position: absolute;
  left: 50%;
  top: -10rem;
}
.org_tree .part li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.org_tree .part .item strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  border: 2px solid #192A66;
  font-size: 1.9rem;
}

/* 전시회 수상내역 */
.prize_list .years_wrap .years {
  position: relative;
  -ms-flex-preferred-size: 43rem;
      flex-basis: 43rem;
  font-size: 5.5rem; /* &::after{content: ''; display: block; width: 0.8rem; height: 0.8rem;background: #ff7f00; position: absolute;right: -.8rem;top: 0;z-index: 1;} */
}
.prize_list .years_wrap .year_list {
  border-left: 0;
  gap: 2rem;
  position: relative;
}
.prize_list .years_wrap .year_list::before {
  content: "";
  display: block;
  background: #F6F6F6;
  width: 0.8rem;
  height: calc(100% + 8rem);
  position: absolute;
  left: 0;
  top: 1rem;
}
.prize_list .years_wrap .year_list::after {
  content: "";
  display: block;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
  background: #E85B27;
  position: absolute;
  left: 0;
  top: 1rem;
}
.prize_list .years_wrap .year_list .item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}
.prize_list .years_wrap .year_list .item > strong {
  font-size: 1.8rem;
  color: #333;
  padding-bottom: 0;
  border: 0;
}
.prize_list .years_wrap .year_list .item > strong::before {
  display: none;
}
.prize_list .years_wrap .year_list .item div .title {
  font-size: 1.9rem;
  color: #22449C;
}

/*-------------------------------------------------
대학원
-------------------------------------------------*/
/* 대학원 */
.graduate_visual {
  text-align: center;
  padding: 10.6rem 0;
  position: relative;
}
.graduate_visual .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
.graduate_visual h2 {
  margin-bottom: 3rem;
}
.graduate_visual h2 strong {
  font-size: 5.8rem;
  display: block;
  color: #fff;
}

/*-------------------------------------------------
교수소개
-------------------------------------------------*/
.page_setting {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.page_setting a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 0.4rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid #E8E8E8;
  color: #6a6a6a;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  cursor: pointer;
}
.page_setting a.active {
  background: var(--color3);
  border-color: var(--color3);
  color: #fff;
}
.page_setting::before {
  display: none !important;
}

.board-list .introduction {
  border-top: 0;
}

.introduction {
  border-top: 2px solid #333;
}
.introduction > article {
  position: relative;
  padding: 5rem 29rem 5rem 0;
  border-bottom: 1px solid #888;
}
.introduction > article .info > div {
  padding: 0 0 3rem 2rem;
  border-bottom: 1px solid #ECECEC;
}
.introduction > article .info > div > * {
  display: inline-block;
  vertical-align: middle;
}
.introduction > article .info > div .ko {
  margin-right: 0.8rem;
  color: #3e3e3e;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.08rem;
}
.introduction > article .info > div .en {
  color: #A4A4A4;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.introduction > article .info > div .work {
  color: #3E3E3E;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: -0.06rem;
}
.introduction > article .info > div .work::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 2rem;
  margin: 0 2rem;
  background: #ccc;
}
.introduction > article .info > div .btn {
  float: right;
  padding: 0.8rem 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  background: #F6F7F9;
  font-weight: 500;
  line-height: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.introduction > article .info > div .btn i {
  display: inline-block;
  vertical-align: middle;
}
.introduction > article .info > div .btn:hover, .introduction > article .info > div .btn:focus {
  border-color: #222;
  background-color: #222;
  color: #fff;
}
.introduction > article .info > div::after {
  content: "";
  display: table;
  clear: both;
}
.introduction > article .info > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  margin-top: 5.3rem;
  padding: 0 2rem;
}
.introduction > article .info > ul > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 1.5rem;
  color: #6A6A6A;
  font-size: 1.8rem;
  line-height: 3.4rem;
  letter-spacing: -0.05rem;
}
.introduction > article .info > ul > li b {
  display: inline-block;
  vertical-align: middle;
  color: #3e3e3e;
  font-weight: 600;
  min-width: 10rem;
  margin-right: 1.2rem;
}
.introduction > article .info > ul > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 1.7rem;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #E4E8F7;
}
.introduction > article .info > ul > li .btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.8rem;
  padding: 0.05rem 0.725rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  color: #000;
  font-size: 1.6rem;
  line-height: 2.9rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.introduction > article .info > ul > li .btn i {
  display: inline-block;
  vertical-align: middle;
}
.introduction > article .info > ul > li .btn:hover, .introduction > article .info > ul > li .btn:focus {
  border-color: #222;
  color: #222;
}
.introduction > article .thumb {
  display: block;
  position: absolute;
  right: 0;
  top: 5rem;
  width: 20rem;
  height: 27rem;
  border-radius: 6px;
  overflow: hidden;
}
.introduction .empty {
  padding: 5rem 3rem;
  text-align: center;
  color: #111;
  font-size: 2rem;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 800;
}
.modal .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 6rem);
  max-width: 70rem;
  padding: 5.4rem 4.5rem 7rem;
  border-radius: 2rem;
  background: #fff;
}
.modal .inner .tit {
  color: #3E3E3E;
  font-size: 2.2rem;
  line-height: 1.3181818182;
  text-align: center;
}
.modal .inner .desc {
  margin-top: 1.2rem;
  color: #6A6A6A;
  font-size: 1.8rem;
  line-height: 1.7222222222;
  text-align: center;
}
.modal .inner .readonly_txt {
  width: 100%;
  padding: 1.8rem 1.6rem;
  border-radius: 3px;
  background: #F9F9F9;
  color: #222;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  word-break: break-all;
}
.modal .inner .form {
  display: block;
  max-width: 30rem;
  margin: 4rem auto 0;
}
.modal .inner .form input[type=text], .modal .inner .form input[type=number] {
  width: 100%;
  height: 5.6rem;
  padding: 0.5rem 1.6rem;
  border: 1px solid #D5D4DA;
  border-radius: 3px;
  background: #F9F9F9;
  color: #222;
  font-size: 1.7rem;
}
.modal .inner .form input[type=text] + input, .modal .inner .form input[type=number] + input {
  margin-top: 1rem;
}
.modal .inner .form input[type=text]::-webkit-inner-spin-button, .modal .inner .form input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.modal .inner .form .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.modal .inner .form .btns .btn_type1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*-------------------------------------------------
반응형
-------------------------------------------------*/
@media (max-width: 1400px) {
  .contents_visual .bg {
    width: calc(100% + 6rem);
  }
}
@media (max-width: 1024px) {
  .tstyle_write colgroup {
    display: none;
  }
  .contents_visual p br {
    display: none;
  }
  .future .title1 {
    padding: 1.5rem 5rem;
  }
  .future .future_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8rem 2rem;
  }
  .mission .part {
    padding-left: 0;
    padding-right: 0;
  }
  .mission .group2 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .mission .part h2::after,
  .mission .group2 li:first-child h3::before,
  .mission .group2::before,
  .mission .group2 i::before,
  .mission .group3_title::after {
    display: none;
  }
  .mission .group2 li {
    margin-top: 4.5rem;
  }
  .mission .group3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mission .group3 ul {
    width: 100%;
    gap: 2rem;
  }
  .mission .talent .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission .talent .item h4 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .worth {
    height: auto;
  }
  .worth::after {
    top: 15.5rem;
  }
  .worth h3 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0 auto;
  }
  .worth ul {
    margin-top: -12rem;
    padding: 0 1rem;
  }
  .worth li {
    width: 21.25rem;
    height: 21.25rem;
  }
  .introduction > article {
    padding: 5rem 22rem 5rem 0;
  }
  .introduction > article .info > div {
    padding: 0 0 3rem;
  }
  .introduction > article .info > div .work {
    width: 100%;
    margin: 1rem 0;
  }
  .introduction > article .info > div .work::before {
    margin-left: 0;
  }
  .introduction > article .info > ul {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
    padding: 0;
  }
  .introduction > article .info > ul > li b {
    min-width: auto;
  }
  .introduction > article .thumb {
    display: block;
    width: 18rem;
    height: 25rem;
  }
}
@media (max-width: 768px) {
  .pic_box {
    padding: 5rem 2rem;
  }
  .history_cont .years_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .history_cont .years_wrap .years {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .history_cont .years_wrap .year_list {
    padding-left: 2.5rem;
  }
  .history_cont .years_wrap .year_list .item > strong::before {
    left: -2.5rem;
  }
  .abeek .list_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .abeek .list_row li ~ li {
    border: 0;
    border-top: 1px solid #ddd;
    padding-top: 2rem;
  }
  .edu_goal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .org_tree .item {
    width: 100% !important;
  }
  .org_tree .item::before {
    height: 2.3rem;
  }
  .org_tree .head,
  .org_tree .sub_head {
    margin-bottom: 2.3rem;
  }
  .org_tree .part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .org_tree .part::before, .org_tree .part::after {
    display: none;
  }
  .greeting .title {
    display: block;
    padding: 3rem 0 0;
  }
  .greeting .title h2 {
    padding-right: 3rem;
    font-size: 4rem;
    white-space: nowrap;
  }
  .greeting .title i {
    padding: 2rem;
    display: block;
    width: 100%;
    margin-top: 2rem;
  }
  .greeting .group {
    padding: 20rem 2rem 4rem;
  }
  .vision {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  .vision p {
    font-size: 2.5rem;
  }
  .mission .group1 {
    font-size: 3rem;
  }
  .mission .part::before {
    height: 15rem;
  }
  .mission .group2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 4rem;
  }
  .mission .group3 {
    padding-bottom: 4rem;
  }
  .mission .group3 h3 {
    width: 100%;
    height: auto;
  }
  .mission .group3 h3 br {
    display: none;
  }
  .mission .group3 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission .talent .type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .worth {
    margin-bottom: 3rem;
  }
  .worth::after {
    top: 10rem;
  }
  .worth h3 {
    width: 20rem;
    height: 20rem;
    border-width: 1rem;
    font-size: 2.5rem;
  }
  .worth h3::before {
    left: -5rem;
  }
  .worth h3::after {
    right: -5rem;
  }
  .worth ul {
    width: 35rem;
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -6rem;
    text-align: center;
    white-space: normal;
  }
  .worth ul li {
    float: none !important;
    width: 15rem;
    height: 15rem;
    font-size: 1.4rem;
    padding-top: 5rem;
  }
  .worth ul li:nth-child(2) {
    z-index: 2;
  }
  .worth ul li:nth-child(n+3) {
    margin-top: -3rem;
  }
  .labs_bg {
    padding-top: 0;
  }
  .labs_professor li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .labs_professor li .title3 {
    padding-right: 0;
  }
  .labs_professor li .title3::after {
    display: none;
  }
  .lab_tab .tab_cont figure .imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lab_tab .tab_nav {
    padding: 2.5rem;
  }
  .lab_tab .tab_nav .bul2 {
    grid-template-columns: auto;
  }
  .org_tree .item strong::before {
    height: 2.5rem;
  }
  .introduction > article {
    padding: 3rem 0;
  }
  .introduction > article .info {
    width: 100%;
  }
  .introduction > article .info > div {
    padding: 1.6rem 0;
  }
  .introduction > article .thumb {
    position: relative;
    top: 0;
    width: 100%;
    height: 0;
    padding-top: 135%;
  }
  .introduction > article .thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}/*# sourceMappingURL=contents1.css.map */