@charset "UTF-8";
@import "mixin"; //템플릿별 믹스인
/*
:root { 
  --headWidth: 192rem; 
  --container: 140rem;
  --headHeight : 14rem;
  --color1: #F6AB00; 
  --color2: #E85B27;
  --icon: 'remixicon', sans-serif;
}
*/
#header{padding-right: 7rem;}