<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">

	<meta name="title" content="한국기술교육대학교">
	<meta name="description" content="한국기술교육대학교">
	<meta name="keyword" content="한국기술교육대학교">
	<meta name="author" content="한국기술교육대학교">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="한국기술교육대학교">
	<meta property="og:title" content="한국기술교육대학교">
	<meta property="og:url" content="https://koreatech.planidev.kr">
	<meta property="og:description" content="한국기술교육대학교">

	<title>통합로그인 - 한국기술교육대학교</title>

	<!-- 공통 CSS -->
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/template/common/css/layout.css">
	<link rel="stylesheet" href="/jquery/css/swiper-bundle.min.css">
	
	<!-- 공통 JS -->
	<script src="/jquery/js/jquery-2.2.4.min.js"></script>
	<script src="/js/global.js"></script>
	<script src="/jquery/js/swiper-bundle.min.js"></script>		

	<link rel="stylesheet" href="/css/printArea.css" media="print">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>


	<section class="total_login">
		<div class="blur_bg">
			<div class="login_cont">
				<h1>
					<em>Koreatech</em>
					<strong>통합로그인</strong>
					<small>Sing In</small>
				</h1>			
				<div class="input input_id">
					<input type="text">
				</div>
				<div class="input input_pw">
					<input type="password">
				</div>				
				<button>로그인</button>		
			</div>
		</div>
	</section>	

	

</body>

</html>