<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="UTF-8">

<title>고장신고게시판 : 한국기술교육대학교 입시</title>

</head>
<body>
	<div style="width:990px;margin:0 auto;">
		<img src="/template/common/img/mail_header_bg.jpg"><!-- TODO : 나중에 실제주소로 바꿔야함 -->
		<div style="padding:40px 50px;">
			<h1 style="color: #333; font-size: 26px;  font-style: normal; font-weight: 700; line-height: 130%; letter-spacing: -0.78px;border-bottom: 1px solid #DDD;padding-bottom:30px;margin:0 0 30px 0;">
				<em style="color: #FAA11C; font-size: 18px; font-style: italic; font-weight: 700; line-height: 120%; /* 21.6px */">Koreatech</em><br>
				<strong style="color:#333">[컴퓨터공학부] 고장신고게시판 게시판에 새로운 게시글이 등록되었습니다.</strong>
			</h1>
			<p style="color:#555; font: 18px;font-weight: 400;line-height: 180%;letter-spacing: -0.54px">고장신고게시판 게시판에 새로운 게시글이 등록되었습니다.</p>
			<h2>
				<span style="color: #333; font-size: 18px; font-style: normal; font-weight: 600; line-height: 180%; /* 32.4px */ letter-spacing: -0.54px;">게시글 제목 : </span>
				<strong style="color: #FAA11C; font-size: 18px; font-style: normal; font-weight: 600; line-height: 180%; letter-spacing: -0.54px;">호실 - PC번호 - 수리요청</strong>
			</h2>
			<p style="color: #555; font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 400; line-height: 180%; /* 32.4px */ letter-spacing: -0.54px; margin-bottom: 40px;">자세한 내용은 아래 <strong>[게시글 바로가기]</strong> 버튼을 클릭하시면 확인하실 수 있습니다.</p>			<a href="" target="_blank" style="display: block; width:190px; margin:0 auto; text-align: center; text-decoration:none; background: linear-gradient(180deg, #FAA61C 0%, #F46C23 100%); color: #fff; font-size: 18px; font-weight: 500; line-height:25px;letter-spacing:-0.54px; padding:16px 40px; border-radius:3px;">게시글 바로가기</a>
		</div>
		<div style="background:#28335B; padding: 40px;">
			<p style="color:#fff; padding-bottom:15px;margin-bottom: 10px;border-bottom: 1px solid rgba(255, 255, 255, 0.20);">* 본 메일은 지정된 담당자에게 발송되었습니다.</p>
			<p style="color:rgba(255,255,255,0.6)">[31253] 충청남도 천안시 동남구 병천면 충절로 1600 (가전리, 한국기술교육대학교) TEL : 041-560-1114<br>
				COPYRIGHT Ⓒ 2023. KOREATECH. ALL RIGHT RESERVED.</p>
		</div>
	</div>
	
</body>

</html>










</div>