<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">

	<meta name="title" content="한국기술교육대학교">
	<meta name="description" content="한국기술교육대학교">
	<meta name="keyword" content="한국기술교육대학교">
	<meta name="author" content="한국기술교육대학교">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="한국기술교육대학교">
	<meta property="og:title" content="한국기술교육대학교">
	<meta property="og:url" content="https://koreatech.planidev.kr">
	<meta property="og:description" content="한국기술교육대학교">

	<title>한국기술교육대학교</title>

	<!-- 공통 CSS -->
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/template/common/css/layout.css">
	<link rel="stylesheet" href="/jquery/css/swiper-bundle.min.css">

	<!-- 템플릿 CSS -->
	<link rel="stylesheet" href="/template/template05/css/layout.css">
	<link rel="stylesheet" href="/template/template05/css/layout_respond.css">	
	<link rel="stylesheet" href="/template/template05/css/main.css">
	<link rel="stylesheet" href="/template/template05/css/main_respond.css">
	
	<!-- 공통 JS -->
	<script src="/jquery/js/jquery-2.2.4.min.js"></script>
	<script src="/js/global.js"></script>
	<script src="/jquery/js/swiper-bundle.min.js"></script>	
	<!-- <script src="/jquery/js/fn.js"></script> -->
	

	<link rel="stylesheet" href="/css/printArea.css" media="print">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

	<p id="skip_nav">
		<a href="#header">주 메뉴 바로가기</a>
		<a href="#main_wrap">본문으로 바로가기</a>
	</p>

	<div id="wrap">		

		<header id="header" class="header">

			<div id="hnb">
				<div class="container">
					<div class="link_list">
						<a href="">로그인</a>
						<a href="" target="_blank" title="새창열기">입학안내</a>
						<a href="" target="_blank" title="새창열기">한국기술교육대학교</a>
					</div>
					<div class="sns_list">
						<button class="sns_open"><span>SNS</span><i class="ri-arrow-down-s-line"></i></button>
						<div class="sns_layer">
							<strong class="sns_title">SNS 바로가기</strong>
							<nav class="list">
								<a href="https://www.youtube.com/channel/UCtFGdkfcvnSIZEZ3wd48I2Q" target="_blank" title="새창으로 열림"><i class="ri-youtube-fill"></i><span class="sr_only">유투브</span></a>
								<a href="https://www.facebook.com/koreatech91/" target="_blank" title="새창으로 열림"><i class="ri-facebook-fill"></i><span class="sr_only">페이스북</span></a>							
								<a href="https://blog.naver.com/koreatech91/" target="_blank" title="새창으로 열림"><i class="icon_blog">b</i><span class="sr_only">블로그</span></a>
								<a href="https://www.instagram.com/koreatech_since1991/" target="_blank" title="새창으로 열림"><i class="ri-instagram-line"></i><span class="sr_only">인스타그램</span></a>							
							</nav>
							<button class="sns_close">
								<i class="xi-close-thin"></i>
								<strong class="sr_only">SNS 닫기</strong>
							</button>
						</div>						
					</div>
					<!-- //sns_list -->
					
				</div>
			</div>
			<!-- //hnb -->

			<div class="header_wrap">				
				<div class="container">
					<h1 id="logo"><a href="/me/" style="background-image:url(/me/img/logo.svg)"><span class="IR">한국기술교육대학교 기계공학부</span></a></h1>					

					<nav id="gnb1">

						<ul id="head_menu" class="topmenu">
							<li class="depth-1 lnb1 mnfirst">
								<a href="/menu.es?mid=a70101000000">학부소개</a>
								<div class="submenu">


									<ul class="depth-2 sub01">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70101000000">인사말</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70102000000">소개 및 비전</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70103000000">연혁</a></li>
										<li class="sub04"><a href="/menu.es?mid=a70104000000">소식</a></li>
										<li class="sub05 sublast"><a href="/menu.es?mid=a70105000000">오시는 길</a></li>
									</ul>


								</div>
							</li>
							<li class="depth-1 lnb2">
								<a href="/menu.es?mid=a70201000000">교직원 소개</a>
								<div class="submenu">


									<ul class="depth-2 sub02">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70201000000">교수소개</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70202000000">기술연구원 소개</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70203000000">직원소개</a></li>
										<li class="sub04 sublast"><a href="/menu.es?mid=a70204000000">학생회 소개</a></li>
									</ul>


								</div>
							</li>
							<li class="depth-1 lnb3">
								<a href="/menu.es?mid=a70301000000">교육</a>
								<div class="submenu">


									<ul class="depth-2 sub03">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70301000000">교육목표</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70302000000">교육과정</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70303000000">교과목 소개</a></li>
										<li class="sub04"><a href="/menu.es?mid=a70304000000">공학인증</a></li>
										<li class="sub05 sublast"><a href="/menu.es?mid=a70305000000">실습실 안내</a></li>
									</ul>


								</div>
							</li>
							<li class="depth-1 lnb4">
								<a href="/menu.es?mid=a70401000000">졸업 후 진로</a>
								<div class="submenu">


									<ul class="depth-2 sub04">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70401000000">취업현황</a></li>
										<li class="sub02 sublast"><a href="/menu.es?mid=a70402000000">졸업안내</a></li>
									</ul>


								</div>
							</li>
							<li class="depth-1 lnb5">
								<a href="/menu.es?mid=a70501000000">졸업작품 및 학생활동</a>
								<div class="submenu">


									<ul class="depth-2 sub05">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70501000000">동아리</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70502000000">대회 수상실적</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70503000000">공학설계</a></li>
										<li class="sub04 sublast"><a href="/menu.es?mid=a70504000000">졸업작품</a></li>
									</ul>


								</div>
							</li>
							<li class="depth-1 lnb6 mnlast">
								<a href="/menu.es?mid=a70601000000">알림마당</a>
								<div class="submenu">


									<ul class="depth-2 sub06">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70601000000">일반공지</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70602000000">강의공지</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70603000000">학사공지</a></li>
										<li class="sub04"><a href="/menu.es?mid=a70604000000">취업공지</a></li>
										<li class="sub05 sublast"><a href="/menu.es?mid=a70605000000">학생회 게시판</a></li>
									</ul>


								</div>
							</li>
						</ul>


					</nav>
					<!-- //gnb1 -->

					<nav id="gnb2">
						<button class="control open">
							<span class="sr_only">전체메뉴 열기</span>
							<i class="icon_menu">
								<span class="bar1"></span>
								<span class="bar2"></span>
								<span class="bar3"></span>
							</i>
						</button>
						<button class="control close">
							<span class="sr_only">전체메뉴 닫기</span>
							<i class="icon_menu">
								<span class="bar1"></span>
								<span class="bar2"></span>
								<span class="bar3"></span>
							</i>
						</button>          

						<ul id="head_menu_all" class="topmenu_all">
							<li class="lnb1 mnfirst">
								<a href="/menu.es?mid=a70101000000">학부소개</a>
								<div class="submenu">
									<ul class="sub01">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70101000000">인사말</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70102000000">소개 및 비전</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70103000000">연혁</a></li>
										<li class="sub04"><a href="/menu.es?mid=a70104000000">소식</a></li>
										<li class="sub05 sublast"><a href="/menu.es?mid=a70105000000">오시는 길</a></li>
									</ul>
								</div>
							</li>
							<li class="lnb2">
								<a href="/menu.es?mid=a70201000000">교직원 소개</a>
								<div class="submenu">
									<ul class="sub02">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70201000000">교수소개</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70202000000">기술연구원 소개</a>
											<div>
												<ul class="lnb-detail">
													<li class="lnb-detail-item"><a href="#">3뎁스 메뉴</a></li>
													<li class="lnb-detail-item"><a href="#">3뎁스 메뉴</a></li>
												</ul>
											</div>
										</li>
										<li class="sub03"><a href="/menu.es?mid=a70203000000">직원소개</a></li>
										<li class="sub04 sublast"><a href="/menu.es?mid=a70204000000">학생회 소개</a></li>
									</ul>
								</div>
							</li>
							<li class="lnb3">
								<a href="/menu.es?mid=a70301000000">교육</a>
								<div class="submenu">
									<ul class="sub03">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70301000000">교육목표</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70302000000">교육과정</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70303000000">교과목 소개</a></li>
										<li class="sub04"><a href="/menu.es?mid=a70304000000">공학인증</a></li>
										<li class="sub05 sublast"><a href="/menu.es?mid=a70305000000">실습실 안내</a></li>
									</ul>
								</div>
							</li>
							<li class="lnb4">
								<a href="/menu.es?mid=a70401000000">졸업 후 진로</a>
								<div class="submenu">
									<ul class="sub04">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70401000000">취업현황</a></li>
										<li class="sub02 sublast"><a href="/menu.es?mid=a70402000000">졸업안내</a></li>
									</ul>
								</div>
							</li>
							<li class="lnb5">
								<a href="/menu.es?mid=a70501000000">졸업작품 및 학생활동</a>
								<div class="submenu">
									<ul class="sub05">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70501000000">동아리</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70502000000">대회 수상실적</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70503000000">공학설계</a></li>
										<li class="sub04 sublast"><a href="/menu.es?mid=a70504000000">졸업작품</a></li>
									</ul>
								</div>
							</li>
							<li class="lnb6 mnlast">
								<a href="/menu.es?mid=a70601000000">알림마당</a>
								<div class="submenu">
									<ul class="sub06">
										<li class="sub01 subfirst"><a href="/menu.es?mid=a70601000000">일반공지</a></li>
										<li class="sub02"><a href="/menu.es?mid=a70602000000">강의공지</a></li>
										<li class="sub03"><a href="/menu.es?mid=a70603000000">학사공지</a></li>
										<li class="sub04"><a href="/menu.es?mid=a70604000000">취업공지</a></li>
										<li class="sub05 sublast"><a href="/menu.es?mid=a70605000000">학생회 게시판</a></li>
									</ul>
								</div>
							</li>
						</ul>


					</nav>
					<!-- //gnb2 -->
				</div>
			</div>
			<!-- //header_wrap -->

		</header>

		<main id="main" class="main">
			<div id="main_wrap">
				<section class="visual">
					<div class="img">
						<div class="list">
							<div class="item">
								<img src="/template/common/img/sample_main_visual1.webp" alt="">								
							</div>						
							<div class="item">
								<img src="/template/common/img/sample_main_visual2.webp" alt="">								
							</div>						
							<div class="item">
								<img src="/template/common/img/sample_main_visual3.webp" alt="">								
							</div>						
						</div>
					</div>					
					
					<div class="control">
						<p class="btns">
							<button class="prev">이전</button>
							<button class="play">재생</button>
							<button class="stop active">정지</button>
							<button class="next">다음</button>
						</p>
						<p class="pager"></p>
					</div>

					<div class="container">
						<div class="major_txt">
							<em lang="en">
								<img src="/template/template04/img/visual_eng_name.svg" alt="koreatech">
							</em>
							<strong class="title">기계공학부</strong>
							<p class="desc">자동차 분야의 핵심인력과 <br>
							IT지식을 갖춘 기계공학도 양성!</p>
						</div>
						<!-- //major_txt -->	
					</div>

					<div class="quick_link">
						<button class="quick_open" title="바로가기 목록 : 닫힘">
							<i class="ri-arrow-left-s-line"></i>
							<strong>바로가기</strong>
						</button>
						<div class="departs_tabs">
							<ul class="tab_nav">
								<li class="active"><button data-id="departs_tab1" title="선택된 탭메뉴">대학</button></li>
								<li><button data-id="departs_tab2" title="비활성 탭메뉴">대학원</button></li>
							</ul>
							<div class="tab_cont_wrap">							
								<div class="tab_cont active" id="departs_tab1">
									<ul class="list">
										<li class="item item_me">
											<a href=""><i class="icon"></i>기계공학부</a>
										</li>
										<li class="item item_arch">
											<a href=""><i class="icon"></i>디자인·건축공학부</a>
										</li>
										<li class="item item_general">
											<a href=""><i class="icon"></i>교양학부</a>
										</li>
										<li class="item item_mecha">
											<a href=""><i class="icon"></i>메카트로닉스공학부</a>
										</li>
										<li class="item item_materials">
											<a href=""><i class="icon"></i>에너지신소재화학공학부</a>
										</li>
										<li class="item item_hrd">
											<a href=""><i class="icon"></i>HRD학과</a>
										</li>
										<li class="item item_ite">
											<a href=""><i class="icon"></i>전기전자통신공학부</a>
										</li>
										<li class="item item_sim">
											<a href=""><i class="icon"></i>산업경영학부</a>
										</li>
										<li class="item item_future">
											<a href=""><i class="icon"></i>융합학과</a>
										</li>
										<li class="item item_cse">
											<a href=""><i class="icon"></i>컴퓨터공학부</a>
										</li>
										<li class="item item_esp">
											<a href=""><i class="icon"></i>고용서비스정책학과</a>
										</li>										
									</ul>									
								</div>														
								<div class="tab_cont" id="departs_tab2">
									<ul class="list">
										<li class="item">
											<a href=""></a>
										</li>
									</ul>									
								</div>	
							</div>
							<!-- //tab_cont_wrap -->
						</div>
						<div class="quick_service">
							<h2 class="item_title">
								<span>한기인</span>
								<em>Service</em>
							</h2>
							<div class="item_cont">
								<a href="" class="item">
									<i class="icon icon1"></i>
									<strong class="title">아우누리</strong>
								</a>
								<a href="" class="item">
									<i class="icon icon2"></i>
									<strong class="title">다산정보관</strong>
								</a>
								<a href="" class="item">
									<i class="icon icon3"></i>
									<strong class="title">셔틀버스</strong>
								</a>
								<a href="" class="item">
									<i class="icon icon4"></i>
									<strong class="title">생활관</strong>
								</a>
								<a href="" class="item">
									<i class="icon icon5"></i>
									<strong class="title">장학금안내</strong>
								</a>
								<a href="" class="item">
									<i class="icon icon6"></i>
									<strong class="title">인터넷 증명발급</strong>
								</a>
							</div>
						</div>						
						<!-- //quick_service -->
						<button class="quick_close" title="닫기">
							<i class="ri-arrow-right-s-line"></i>
							<strong>닫기</strong>
						</button>
					</div>
					<!-- //quick_link -->

					<button class="next_sec_btn"><i class="icon"><img src="/template/template05/img/arrow_down_icon.svg" alt=""></i><span class="sr_only">다음 섹션으로</span></button>

				</section>
				<!-- //visual -->


				<section class="notice">
					<div class="container">
						<h2 class="sr_only">Notice</h2>					
						
						<div class="tabs">
							<ul class="tab_nav">
								<li class="active"><button data-id="tab1" title="선택된 탭메뉴"><span class="m_hidden">공지</span>전체</button></li>
								<li><button data-id="tab2" title="비활성 탭메뉴">일반<span class="m_hidden">공지</span></button></li>
								<li><button data-id="tab3" title="비활성 탭메뉴">강의<span class="m_hidden">공지</span></button></li>
								<li><button data-id="tab4" title="비활성 탭메뉴">학사<span class="m_hidden">공지</span></button></li>
								<li><button data-id="tab5" title="비활성 탭메뉴">취업<span class="m_hidden">공지</span></button></li>
								<li><button data-id="tab6" title="비활성 탭메뉴">학생회게시판</button></li>
							</ul>
							<div class="tab_cont_wrap">							
								<div class="tab_cont" id="tab1">
									<ul class="list">
										<li class="item">
											<a href="">
												<em class="category">일반공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
										<li class="item">
											<a href="">
												<em class="category">강의공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
										<li class="item">
											<a href="">
												<em class="category">학사공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
										<li class="item">
											<a href="">
												<em class="category">일반공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
									</ul>
									
									<a href="" class="more"><span class="sr_only">일반공지</span><span>더보기</span><i class="ri-add-line"></i></a>
								</div>														
								<div class="tab_cont" id="tab2">
									<ul class="list">
										<li class="item">
											<a href="">
												<em class="category">일반공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
										<li class="item">
											<a href="">
												<em class="category">일반공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
										<li class="item">
											<a href="">
												<em class="category">일반공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
										<li class="item">
											<a href="">
												<em class="category">일반공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
									</ul>
									<a href="" class="more"><span class="sr_only">일반공지</span><span>더보기</span><i class="ri-add-line"></i></a>
								</div>	
								<div class="tab_cont" id="tab3">
									<ul class="list">
										<li class="item">
											<a href="">
												<em class="category">강의공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
									</ul>
									
									<a href="" class="more"><span class="sr_only">강의공지</span><span>더보기</span><i class="ri-add-line"></i></a>
								</div>
								<div class="tab_cont" id="tab4">
									<ul class="list">
										<li class="item">
											<a href="">
												<em class="category">학사공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
									</ul>
									
									<a href="" class="more"><span class="sr_only">학사공지</span><span>더보기</span><i class="ri-add-line"></i></a>
								</div>
								<div class="tab_cont" id="tab5">
									<ul class="list">
										<li class="item">
											<a href="">
												<em class="category">취업공지</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
									</ul>
									
									<a href="" class="more"><span class="sr_only">취업공지</span><span>더보기</span><i class="ri-add-line"></i></a>
								</div>
								<div class="tab_cont" id="tab6">									
									<ul class="list">
										<li class="item">
											<a href="">
												<em class="category">학생회게시판</em>
												<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
												<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
												<span class="date">2023.11.16</span>
											</a>
										</li>
									</ul>									
									<a href="" class="more"><span class="sr_only">학생회게시판</span><span>더보기</span><i class="ri-add-line"></i></a>
								</div>
							</div>
							<!-- //tab_cont_wrap -->
						</div>
						<!-- //tabs -->

					</div>
				</section>
				<!-- //notice -->

				<section class="service_news">
					<div class="container">
						<div class="news">
							<h2 class="item_title">한기News</h2>
							<div class="item_cont">
								<a href="" class="item">
									<figure class="thumb"><img src="/template/template05/img/news_sample1.jpg" alt=""></figure>
									<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내 2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
									<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다. 대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
									<span class="date">2023.11.16</span>
								</a>
								<a href="" class="item">
									<figure class="thumb"><img src="/template/template05/img/news_sample2.jpg" alt=""></figure>
									<strong class="title">2023학년도 DSC 공유대학 「모빌리티 전문가 초청 취업 특강」 안내</strong>
									<p class="desc">대전 세종 충남 지역혁신플랫폼 대학교육혁신본부에서 모빌리티 전문가 초청 취업 특강을 아래와 같이 운영하오니 학생들의 많은 참여 부탁드립니다.</p>
									<span class="date">2023.11.16</span>
								</a>								
								
							</div>
							<!-- //item_cont -->
							<a href="" class="more"><span class="sr_only">한기News</span><span>더보기</span><i class="ri-add-line"></i></a>
						</div>
						<!-- //News -->

						<div class="service">
							<h2 class="item_title">자주찾는 서비스</h2>
							<div class="item_cont">
								<a href="" class="item item1">
									<i class="icon icon1"><img src="/template/template05/img/service_icon1.svg" alt=""></i>
									<strong class="title">교수소개</strong>
									<small>Professor</small>
								</a>
								<a href="" class="item item2">
									<i class="icon icon2"><img src="/template/template05/img/service_icon2.svg" alt=""></i>
									<strong class="title">졸업 후 진로</strong>
									<small>Career</small>
								</a>
								<a href="" class="item item3">
									<i class="icon icon3"><img src="/template/template05/img/service_icon3.svg" alt=""></i>
									<strong class="title">취업현황</strong>
									<small>Employment</small>
								</a>
								<a href="" class="item item4">
									<i class="icon icon4"><img src="/template/template05/img/service_icon4.svg" alt=""></i>
									<strong class="title">교육과정</strong>
									<small>Course</small>
								</a>
							</div>
						</div>
						<!-- //service -->
						
					</div>
				</section>
				<!-- //service_news -->

				<section class="calendar_location">
					<div class="container">
						<div class="calendar">
							<h2 class="item_title">학사일정</h2> 
							<div class="item_cont swiper swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<a href=""  class="item">
											<em class="dday">d-6</em>
											<strong class="date">08.10(목)</strong>
											<p class="desc">2학기 등록고지 기한</p>
											<span class="view">자세히보기 <i class="ri-arrow-right-s-line"></i></span>
										</a>
									</div>
									<div class="swiper-slide">
										<a href=""  class="item">
											<em class="dday current">Now</em>
											<strong class="date">08.10(목)</strong>
											<p class="desc">2학기 등록고지 기한</p>
											<span class="view">자세히보기 <i class="ri-arrow-right-s-line"></i></span>
										</a>
									</div>
									<div class="swiper-slide">
										<a href=""  class="item">
											<em class="dday">d-6</em>
											<strong class="date">08.10(목)</strong>
											<p class="desc">2학기 등록고지 기한</p>
											<span class="view">자세히보기 <i class="ri-arrow-right-s-line"></i></span>
										</a>
									</div>
									<div class="swiper-slide">
										<a href=""  class="item">
											<em class="dday">d-6</em>
											<strong class="date">08.10(목)</strong>
											<p class="desc">2학기 등록고지 기한</p>
											<span class="view">자세히보기 <i class="ri-arrow-right-s-line"></i></span>
										</a>
									</div>
									<div class="swiper-slide">
										<a href=""  class="item">
											<em class="dday">d-6</em>
											<strong class="date">08.10(목)</strong>
											<p class="desc">2학기 등록고지 기한</p>
											<span class="view">자세히보기 <i class="ri-arrow-right-s-line"></i></span>
										</a>
									</div>
								</div>
								<!-- //swiper-wrapper -->
								<div class="swiper-scrollbar"></div>
								<div class="swiper-pagination"></div>
								<button class="swiper-button swiper-button-prev"><i class="ri-arrow-left-line"></i><span class="sr_only">이전</span></button>
        <button class="swiper-button swiper-button-next"><i class="ri-arrow-right-line"></i><span class="sr_only">다음</span></button>				
							</div>   
							<!-- //item_cont swiper -->
							<a href="" class="more"><span class="sr_only">학사일정</span><span>더보기</span><i class="ri-add-line"></i></a>
						</div>
						<!-- //calendar -->		
					
						<div class="location_info">
							<h2 class="item_title">위치 안내</h2>
							<div class="item_cont">
								<div class="item">
									<i class="ri-map-pin-2-line"></i>
									<strong class="title">사무실 위치</strong>
									<span class="addr">공학1관F102호</span>
								</div>
								<div class="item">
									<i class="ri-phone-line"></i>
									<strong class="title">전화번호</strong>
									<span class="addr">041-560-1290</span>
								</div>								
							</div>
							<a href="" class="more"><span>자세히보기</span><i class="ri-arrow-right-line"></i></a>
						</div> 
						<!-- //location  -->
					</div>					

				</section>
				<!-- //calendar_location -->

			</div>
		</main>
		<!-- //main -->
		
		<footer id="footer" class="footer">
			<div class="related">
				<div class="container">
					<div class="group group1">
						<button class="label" title="대학/대학원 목록 : 닫힘">대학/대학원</button>
						<ul class="list">

							<li>
								<a href="/me/" target="_blank" title="새창" rel="noopener noreferrer">기계공학부</a>
							</li>

							<li>
								<a href="/mechatronics" target="_blank" title="새창"
									rel="noopener noreferrer">메카트로닉스공학부</a>
							</li>

							<li>
								<a href="/ite" target="_blank" title="새창" rel="noopener noreferrer">전기전자통신공학부</a>
							</li>

							<li>
								<a href="/cse" target="_blank" title="새창" rel="noopener noreferrer">컴퓨터공학부</a>
							</li>

							<li>
								<a href="/ide" target="_blank" title="새창" rel="noopener noreferrer">디자인공학전공</a>
							</li>

							<li>
								<a href="/arch" target="_blank" title="새창" rel="noopener noreferrer">건축공학전공</a>
							</li>

							<li>
								<a href="/emc" target="_blank" title="새창" rel="noopener noreferrer">에너지신소재화학공학부</a>
							</li>

							<li>
								<a href="/sim" target="_blank" title="새창" rel="noopener noreferrer">산업경영학부</a>
							</li>

							<li>
								<a href="/general" target="_blank" title="새창" rel="noopener noreferrer">교양학부</a>
							</li>

							<li>
								<a href="/hrdhak" target="_blank" title="새창" rel="noopener noreferrer">HRD학과</a>
							</li>

							<li>
								<a href="/future" target="_blank" title="새창" rel="noopener noreferrer">융합학과</a>
							</li>

							<li>
								<a href="/grd" target="_blank" title="새창" rel="noopener noreferrer">일반대학원</a>
							</li>

							<li>
								<a href="/grd" target="_blank" title="새창" rel="noopener noreferrer">IT융합과학경영대학원</a>
							</li>

							<li>
								<a href="/grd" target="_blank" title="새창" rel="noopener noreferrer">테크노인력개발전문대학원</a>
							</li>

							<li>
								<a href="https://cms3.koreatech.ac.kr/grdSchool/index.do?sso=ok" target="_blank"
									title="새창" rel="noopener noreferrer">최고경영자과정</a>
							</li>





						</ul>
					</div>

					<div class="group group2">
						<button class="label" title="주요사이트 목록 : 닫힘">주요사이트</button>
						<ul class="list">

							<li>
								<a href="https://blog.naver.com/koreatech91" target="_blank" title="새창"
									rel="noopener noreferrer">네이버 공식블로그</a>
							</li>

							<li>
								<a href="https://portal.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">학사종합서비스</a>
							</li>

							<li>
								<a href="http://el.koreatech.ac.kr/index_sso.jsp?callKind=WP" target="_blank" title="새창"
									rel="noopener noreferrer">온라인교육지원</a>
							</li>

							<li>
								<a href="http://photo.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">웹갤러리</a>
							</li>

							<li>
								<a href="https://email.koreatech.ac.kr/account/login.do" target="_blank" title="새창"
									rel="noopener noreferrer">웹메일</a>
							</li>

							<li>
								<a href="http://www.work.go.kr/jobyoung/main.do" target="_blank" title="새창"
									rel="noopener noreferrer">청년워크넷</a>
							</li>

							<li>
								<a href="https://www.work.go.kr/seekWantedMain.do" target="_blank" title="새창"
									rel="noopener noreferrer">고용부 워크넷</a>
							</li>

							<li>
								<a href="https://www.jobkorea.co.kr/Main/Index" target="_blank" title="새창"
									rel="noopener noreferrer">잡코리아</a>
							</li>

							<li>
								<a href="https://www.saramin.co.kr/zf_user/" target="_blank" title="새창"
									rel="noopener noreferrer">사람인</a>
							</li>

							<li>
								<a href="https://www.incruit.com/" target="_blank" title="새창"
									rel="noopener noreferrer">인크루트</a>
							</li>





						</ul>
					</div>

					<div class="group group3">
						<button class="label" title="교내주요기관 목록 : 닫힘">교내주요기관</button>
						<ul class="list">

							<li>
								<a href="https://labsafety.koreatech.ac.kr/ushm/main/home.do" target="_blank" title="새창"
									rel="noopener noreferrer">연구실안전</a>
							</li>

							<li>
								<a href="https://hrdi.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">능력개발교육원</a>
							</li>

							<li>
								<a href="https://www.step.or.kr/main.do" target="_blank" title="새창"
									rel="noopener noreferrer">온라인평생교육원</a>
							</li>

							<li>
								<a href="https://www.ksqa.or.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">직업능력심사평가원</a>
							</li>

							<li>
								<a href="https://dasan.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">다산정보관</a>
							</li>

							<li>
								<a href="https://sandan.koreatech.ac.kr/kor/Main.do" target="_blank" title="새창"
									rel="noopener noreferrer">산학협력단</a>
							</li>

							<li>
								<a href="https://linc.koreatech.ac.kr/linc/Main.do" target="_blank" title="새창"
									rel="noopener noreferrer">LINC+사업단</a>
							</li>

							<li>
								<a href="https://coop.koreatech.ac.kr/index.php" target="_blank" title="새창"
									rel="noopener noreferrer">생활협동조합</a>
							</li>

							<li>
								<a href="https://dorm.koreatech.ac.kr/index.php?sso=ok" target="_blank" title="새창"
									rel="noopener noreferrer">생활관</a>
							</li>

							<li>
								<a href="https://setec.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">반도체 장비기술교육센터</a>
							</li>

							<li>
								<a href="https://counsel.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">상담진로개발센터</a>
							</li>

							<li>
								<a href="https://cms3.koreatech.ac.kr/humanrights/index.do?sso=ok" target="_blank"
									title="새창" rel="noopener noreferrer">인권센터</a>
							</li>

							<li>
								<a href="https://ipp.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">IPP센터</a>
							</li>

							<li>
								<a href="https://cms3.koreatech.ac.kr/bongsa/index.do?sso=ok" target="_blank" title="새창"
									rel="noopener noreferrer">사회봉사센터</a>
							</li>

							<li>
								<a href="https://dadam.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">다담창의센터</a>
							</li>

							<li>
								<a href="http://startup.koreatech.ac.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">창업지원센터</a>
							</li>

							<li>
								<a href="/aceplus" target="_blank" title="새창" rel="noopener noreferrer">대학혁신사업단</a>
							</li>

							<li>
								<a href="https://cms3.koreatech.ac.kr/ctl/index.do?sso=ok" target="_blank" title="새창"
									rel="noopener noreferrer">교수학습센터</a>
							</li>

							<li>
								<a href="https://swlc.or.kr/hub/Main.do" target="_blank" title="새창"
									rel="noopener noreferrer">일학습병행 공동훈련센터 지원단</a>
							</li>

							<li>
								<a href="https://ceces.koreatech.ac.kr/index.do" target="_blank" title="새창"
									rel="noopener noreferrer">고용직업능력개발센터</a>
							</li>





						</ul>
					</div>

					<div class="group group4">
						<button class="label" title="학생자치단체 목록 : 닫힘">학생자치단체</button>
						<ul class="list">

							<li>
								<a href="https://www.instagram.com/koreatech_forstudent/" target="_blank" title="새창"
									rel="noopener noreferrer">총학생회</a>
							</li>

							<li>
								<a href="https://cafe.naver.com/kcbs91" target="_blank" title="새창"
									rel="noopener noreferrer">코리아텍방송국</a>
							</li>

							<li>
								<a href="https://www.facebook.com/scodorm" target="_blank" title="새창"
									rel="noopener noreferrer">생활관자치회</a>
							</li>

							<li>
								<a href="https://www.instagram.com/koreatechclub_wave/?igshid=Mzc1MmZhNjY"
									target="_blank" title="새창" rel="noopener noreferrer">총동아리연합회</a>
							</li>





						</ul>
					</div>

					<div class="group group5">
						<button class="label" title="대외유관기관 목록 : 닫힘">대외유관기관</button>
						<ul class="list">
							<li>
								<a href="https://www.moel.go.kr/index.do" target="_blank" title="새창"
									rel="noopener noreferrer">고용노동부</a>
							</li>

							<li>
								<a href="https://www.motie.go.kr/www/main.do" target="_blank" title="새창"
									rel="noopener noreferrer">산업통상자원부</a>
							</li>

							<li>
								<a href="https://www.moef.go.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">기획재정부</a>
							</li>

							<li>
								<a href="https://www.hrdkorea.or.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국산업인력공단</a>
							</li>

							<li>
								<a href="https://www.kopo.ac.kr" target="_blank" title="새창"
									rel="noopener noreferrer">한국폴리텍대학</a>
							</li>

							<li>
								<a href="https://www.kedi.re.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국교육개발원</a>
							</li>

							<li>
								<a href="https://www.kli.re.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국노동연구원</a>
							</li>

							<li>
								<a href="https://www.keli.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국고용노동교육원</a>
							</li>

							<li>
								<a href="https://www.comwel.or.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">근로복지공단</a>
							</li>

							<li>
								<a href="https://www.kosha.or.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국산업안전보건공단</a>
							</li>

							<li>
								<a href="https://www.keis.or.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국고용정보원</a>
							</li>

							<li>
								<a href="https://www.krivet.re.kr/ku/" target="_blank" title="새창"
									rel="noopener noreferrer">한국직업능력개발원</a>
							</li>

							<li>
								<a href="https://www.kead.or.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">한국장애인고용공단</a>
							</li>

							<li>
								<a href="http://www.chungnam.go.kr/main.do" target="_blank" title="새창"
									rel="noopener noreferrer">충청남도청</a>
							</li>

							<li>
								<a href="https://www.cheonan.go.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">천안시청</a>
							</li>

							<li>
								<a href="https://www.acrc.go.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">국민권익위원회</a>
							</li>

							<li>
								<a href="https://www.moe.go.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">교육부</a>
							</li>

							<li>
								<a href="https://www.ntis.go.kr/" target="_blank" title="새창"
									rel="noopener noreferrer">NTIS</a>
							</li>

							<li>
								<a href="https://e-simsa.or.kr" target="_blank" title="새창"
									rel="noopener noreferrer">원격훈련심사센터</a>
							</li>





						</ul>
					</div>
				</div>

			</div>
			<!-- //related -->

			<div class="footer_wrap">
				<div class="container">
					<div class="foot_logo">
						<img src="/template/common/foot_logo.svg" alt="한국기술교육대학교 KOREATECH">
					</div>
					<div class="foot_info">
						<ul class="fnb">
							<li class="private"><a href="#">개인정보처리방침</a></li>
							<li><a href="#">이메일무단수집거부</a></li>
							<li><a href="#">웹메일</a></li>
							<li><a href="#">청렴메일</a></li>
							<li><a href="#">고객만족경영</a></li>
						</ul>

						<div class="siteinfo">
							<address>[31253] 충청남도 천안시 동남구 병천면 충절로 1600 (가전리, 한국기술교육대학교) / <span class="mbr">TEL : <a href="tel:041-560-1114">041-560-1114</a></span></address>
							<p class="copyright">COPYRIGHT &copy; KOREATECH. ALL RIGHT RESERVED.</p>
						</div>

						<nav class="sns_list">
							<a href="https://www.youtube.com/channel/UCtFGdkfcvnSIZEZ3wd48I2Q" target="_blank" title="새창으로 열림"><i class="ri-youtube-fill"></i><span class="sr_only">유투브</span></a>
							<a href="https://www.facebook.com/koreatech91/" target="_blank" title="새창으로 열림"><i class="ri-facebook-fill"></i><span class="sr_only">페이스북</span></a>							
							<a href="https://blog.naver.com/koreatech91/" target="_blank" title="새창으로 열림"><i class="icon_blog">b</i><span class="sr_only">블로그</span></a>
							<a href="https://www.instagram.com/koreatech_since1991/" target="_blank" title="새창으로 열림"><i class="ri-instagram-line"></i><span class="sr_only">인스타그램</span></a>							
						</nav>

					</div>				

					<div class="btn-top">
						<button><span>Top</span></button>
					</div>
				</div>

			</div>
			<!-- //footer_wrap -->

		</footer>

	</div>
	<!-- //wrap -->
	
	<!-- 레이아웃 JS -->
	<script src="/template/template05/js/layout.js"></script>

	<!-- 메인 JS -->
	<script src="/template/template05/js/main.js"></script>

</body>

</html>